@tailwind base;
@tailwind components;
@tailwind utilities;

.desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    height: 84px;
    text-overflow: ellipsis;
    overflow: hidden;
}